In [2]:
import pandas as pd
import json

In [3]:
with open('io/output-07/grid_cards_info.json') as f:
    data = json.load(f)
data[:5]

[{'Nickname': 'Aasim', 'Properties': {'Part 4': 'true'}},
 {'Nickname': 'Abel', 'Properties': {'Part 4': 'true'}},
 {'Nickname': 'Alvin Jr.',
  'Properties': {'Part 2': 'true', 'Part 3': 'true', 'Part 4': 'true'}},
 {'Nickname': 'Alvin', 'Properties': {'Part 2': 'true'}},
 {'Nickname': 'Andrew', 'Properties': {'Part 1': 'true'}}]

In [11]:
columns = []
for c in data:
    if 'Properties' not in c:
        continue
    for p in c['Properties']:
        if p not in columns:
            columns.append(str(p))
columns = ['Nickname'] + list(sorted(columns))
columns

['Nickname', 'Kek', 'Part 1', 'Part 2', 'Part 3', 'Part 4']

In [12]:
rows = []
for c in data:
    if 'Properties' not in c:
        continue
    if 'Nickname' not in c:
        continue

    row = [c['Nickname']]
    props = c['Properties']
    
    for p in columns[1:]:
        row.append(props[p] if p in props else '')

    rows.append(row)
len(rows), len(columns)

(70, 6)

In [13]:
df = pd.DataFrame(data=rows, columns=columns)
df.head()

    Nickname Kek Part 1 Part 2 Part 3 Part 4
0      Aasim                            true
1       Abel                            true
2  Alvin Jr.              true   true   true
3      Alvin              true
4     Andrew       true

In [20]:
df.to_excel('io/output-07.xlsx')

In [43]:
df = pd.read_excel('io/output-07.xlsx', index_col=0, na_filter=False)
df.loc[df.iloc[:, 0] == 'Clementine']

      Nickname Kek Part 1 Part 2 Part 3 Part 4     Sex
17  Clementine       true   true   true   true  Female
18  Clementine       true   true   true   true  Female
19  Clementine       true   true   true   true  Female
20  Clementine       true   true   true   true  Female
21  Clementine       true   true   true   true  Female
22  Clementine       true   true   true   true  Female

In [44]:
len(df), len(data)

(70, 70)

In [48]:
for idx, d in df.iterrows():
    c = data[idx]
    c['Nickname'] = d.iloc[0]
    props = c['Properties']
    for k, v in d.iloc[1:].items():
        if v == '':
            if k in props:
                del props[k]
            continue
        props[k] = v

In [49]:
with open('io/output-07/grid_cards_info.json', 'w') as f:
    json.dump(data, f, indent=2)